.card {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    width: 90%;
}

@media (min-width:480px) {
    .card {
        height: 70%;
        width: 80%;
    }
}

@media (min-width:1025px) { 
    .card {
         
        height: 700px;
        width: 600px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background: #7e94a0;

    }

}


